.detailMain {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 283px;
  height: 564px;
}

.imgFood {
  width: 200px;
  border-radius: 200px;
  background-color: #6F88C8;
  padding: 5px;
  margin-top: 5px;
}

.btnDetail {
  all: unset;
  background-color: #6F88C8;
  padding: 5px 30px;
  border-radius: 10px;
  margin: 0 10px;
}

.btnDetail img {
  width: 50px;
}

.details {
  background-color: #F2BC79;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  border-radius: 10px;
  margin: 10px;
}

.instructions {
  margin: 10px;
}

.video {
  width: 250px;
  height: 250px;
}

.carousel {
  background-color: #4A407C;
  margin: 20px;
  border-radius: 20px;
}

.divCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgCarousel {
  margin-top: 50px;
  width: 150px;
}

.pCarousel {
  color: white;
}

.h4Carousel {
  color: white;
}

.start-recipe-btn {
  all: unset;
  background-color: #6F88C8;
  padding: 5px;
  border-radius: 5px;
  color: black;
}