.imgFood {
  height: 300px;
}

.imgCarousel {
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px #dfdfdf;
  display: inline-block;
  height: 150px;
  margin: 10px;
  position: relative;
  width: 135px;
}

.container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.divCarousel {
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  display: inline-block;
  height: 240px;
  margin: 0 10px;
  margin-left: 1px;
  position: relative;
  width: 155px;
}

.divCarouselBigger {
  background: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  display: block;
  height: 270px;
  margin: 0;
  margin-bottom: 50px;
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
}

.pCarousel {
  font-size: 18px;
  margin-left: 15px;
}

.h4Carousel {
  margin-left: 15px;
  margin-top: -15px;
}

.btnDiv {
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
}

.start-recipe-btn {
  bottom: 1px;
  position: fixed;
}

.ingredientProgress {
  display: flex;
}
