body {
  background-color: #3c735f;
}

.explore-btn {
  background: #f2cb05;
  border-radius: 25px;
}

.ingredient-card {
  align-content: center;
  border: solid black 2px;
  border-radius: 25px;
  display: inline-block;
  justify-content: center;
  min-width: 30%;
  padding: 10px;
  text-align: center;
}
