body {
  background-color: #3c735f;
}

.explore-btn {
  background: #f2cb05;
  border-radius: 25px;
}

.ingredient-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.ingredient {
  color: #f2a922;
  margin: 10px;
  width: 30%;
}

.ingredient-img {
  background-image: linear-gradient(#3c735f, #f2cb05);
  border-radius: 30%;
  height: 130px;
  width: 130px;
}
