body {
  background-color: #3c735f;
}

.explore-btn {
  background: #f2cb05;
  border-radius: 25px;
}

.ingredient-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  text-align: center;
}

.ingredient {
  margin: 10px;
  width: 30%;
}

.ingredient-img {
  background-image: linear-gradient(#3c735f, #f2cb05);
  border-radius: 50%;
  size: 100px;
}

.link-to-ingredient {
  color: #f2a922;
  text-decoration: none;
}

.link-to-ingredient :hover {
  color: #f2a922;
  cursor: pointer;
  text-decoration: none;
}

.explore-main {
  background-image: url(https://thumbs.dreamstime.com/z/colourful-various-herbs-spices-cooking-dark-background-herbs-spices-cooking-dark-background-113655482.jpg);
  height: 100%;
}

.container-explore-buttons {
  text-align: center;
  height: 100%;
}