.footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-icon {
  background-image: linear-gradient(#3c735f, #f2cb05);
  border-radius: 50%;
  padding: 30px;
}
