.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4A407C;
  padding-top: 5px;
}

.headerIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65px;
  background-color: #4A407C;
  padding: 0 30px;
}

.search-options {
  width: 279px;
}

.search-options label {
  margin: 0 8px;
}

.icons {
  width: 40px;
}

.page-title {
  color: white;
  font-family: cursive;
}

.searchOption {
  all: unset;
}

.searchInput {
  border-radius: 10px;
  border: none;
  outline: none;
}

.searchBtn {
  background-color: #6F88C8;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
}