* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --verde: #3c735f;

  --verde-escuro: #274c3f;

  --amarelo: #f2cb05;

  --laranja: #f2a922;

}

.main-login {
  align-items: center;
  background: linear-gradient(-45deg, #274c3f, #3c735f, #274c3f);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.clip {
  background-image: url('../images/a.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 33% 0, 63% 100%, 0% 100%);
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
}

.section-form {
  align-items: center;
  color: var(--amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  margin-left: 50%;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

/* From uiverse.io by @nikk7007 */
.btn-login {
  background-color: transparent;
  border: 2px solid var(--amarelo);
  border-radius: 8px;
  color: var(--amarelo);
  font-size: 12px;
  font-weight: 900;
  height: 40px;
  overflow: hidden;
  padding: 0.8em 1.8em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 90px;
  z-index: 1;
}

.btn-login:before {
  background: var(--amarelo);
  content: '';
  display: block;
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s ease;
  width: 0;
  z-index: -1;
}

.btn-login:hover:before {
  width: 105%;
}

.btn-login:hover {
  color: var(--verde-escuro);
}

.input-login {
  background: none;
  border: 1px solid var(--amarelo);
  border-radius: 8px;
  color: var(--amarelo);
  height: 35px;
  padding-left: 7px;
  width: 255px;
}

input::placeholder {
  color: var(--amarelo);
  padding-left: 8px;
}

.img-logo {
  height: 300px;
  margin-bottom: 20px;
}
